/* --------------- # ---------------*/

*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* --------------- +header+ ---------------*/

/* --------------- ++nav banner++ ---------------*/

.logo{
    float: left;
    height: 100px;
    margin: 0 0 0 15%;
    width: 100px;

}

.list-nav{
   float: right;
   width: 100%;
}

.list-nav li{
    display: inline-block;
    float: left;
    padding: 21px 3%;
}

.list-nav li:hover{
   background-color: #CCCCCC;
}

.list-nav li a{
    color: #343434;
}

.nav-banner{
    background-color: #E1E1E1;
    height: 60px;
    position: fixed;
    width: 100%;
}

.principal-nav{
    display: inline-block;
    float: right;
    margin: 0 20% 0 0;
    width: 54%;
}

/*.subnav::after{
    background: url(../img/arrow-down-nav.png)no-repeat center right;
    padding-right: 2px; 
}*/

/* --------------- ++Titles header++ ---------------*/

.start-head{
	background: url(../img/banner.jpg)no-repeat center;
	height: 700px;
}

.start-head h1{
    color: #FFF;
    font-family: Times;
    font-size: 3rem;
    padding: 300px 0 0 15%;
}

.start-head p{

}







