/* --------------- # ---------------*/

*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}

a{
    text-decoration: none;
}

header{
    background: url(../img/banner.jpg)no-repeat center;
    background-size: cover;
}

ul{
    list-style: none;
}

/* --------------- +header+ ---------------*/

/* --------------- ++nav banner++ ---------------*/

.logo{
    float: left;
    height: 100px;
    margin: 0 0 0 15%;
    width: 100px;

}

.list-nav{
   float: right;
   width: 100%;
}

.list-nav li{
    display: inline-block;
    float: left;
    padding: 21px 3%;
}

.list-nav li:hover{
   background-color: #CCCCCC;
}

.list-nav li a{
    color: #343434;
}

.nav-banner{
    background-color: #E1E1E1;
    height: 60px;
    position: fixed;
    width: 100%;
}

.principal-nav{
    display: inline-block;
    float: right;
    margin: 0 20% 0 0;
    width: 54%;
}

/*.subnav::after{
    background: url(../img/arrow-down-nav.png)no-repeat center right;
    padding-right: 2px; 
}*/

/* --------------- ++Titles header++ --------------- */

.start-head{
	height: 700px;
    margin: 0 auto;
    width: 80%;
}

.start-head h1{
    font-size: 3rem;
    padding: 300px 0 10px 0;
}

.start-head p{
    font-size: 2.5rem;

}

.start-head h1, .start-head p{
    color: #FFF;
    font-family: Times;
}


/* --------------- ++About us++ --------------- */

.about-us{
    background-color: #CCC;
    padding: 10px 0;
}

.about-us-title, .about-us-activities{
    margin: 0 auto;
    width: 80%;
}

.about-us-title h2{
    font-size: 1.7rem;
    font-weight: lighter;
    padding: 17px 0;
    width: 100%;
}

.about-us-activities{
    background: #E1E1E1;
    padding: 0 0 0 0;
}

.about-us-title p{
    display: inline-block;
    line-height: 21.4px;
    padding: 0 0 0 2%;
    width: 66%;
}

.about-us-title a{
    color: #FFF;
    background: #418DBA;
    float: right;
    margin: 0 9% 0 0;
    padding: 16px 41px;
}

.about-us-title a:hover{
    background: #406172;
}







